[submodule "vim/.vim/bundle/solarized"]
	path = vim/.vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/command-t"]
	path = vim/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/.vim/bundle/delmitmate"]
	path = vim/.vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/.vim/bundle/closetag"]
	path = vim/.vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/snipmate"]
	path = vim/.vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/.vim/bundle/twig"]
	path = vim/.vim/bundle/twig
	url = git@github.com:Remiii/vim-twig.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/dircolors-solarized"]
	path = zsh/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "zsh/remiii.zsh-theme"]
	path = zsh/remiii.zsh-theme
	url = git@github.com:Remiii/remiii.zsh-theme.git
[submodule "vim/.vim/bundle/vim-multiple-cursors"]
	path = vim/.vim/bundle/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "pentadactyl/.pentadactyl/bundle/pentadactyl-solarized"]
	path = pentadactyl/.pentadactyl/bundle/pentadactyl-solarized
	url = https://github.com/claytron/pentadactyl-solarized
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
