'editor':
  'fontSize': 11
  'tabLength': 4
  'showInvisibles': true
  'showIndentGuide': true
'core':
  'themes': [
    'atom-dark-ui'
    'solarized-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '~'
  'disabledPackages': [
    'autocomplete'
  ]
'release-notes':
  'viewedVersion': '0.84.0'
'welcome':
  'showOnStartup': false
'autocomplete':
  'includeCompletionsFromAllBuffers': true
'autocomplete-plus':
  'includeCompletionsFromAllBuffers': true
  'liveCompletion': true
'tree-view': {}
